*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 240, 240);
    font-family: sans-serif;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 30px;
}

.input-container{
    display: flex;
    justify-content: center;
}

.input-item{
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
}

input{
    padding: 14px 24px;
    border-radius: 16px;
    border: none;
}

#send-button{
    display: none;
    width: 100px;
    padding: 12px 32px;
    border-radius: 14px;
    border: none;
    background-color: rgb(56, 138, 252);
    color: white;
    font-weight: bold;
}

.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

